/*body
{
    background-image: url(../../Pictures/Backgrounds/background8.jpg);
    background-attachment: fixed; // Image reste fixe, texte "glisse" dessus
    background-repeat: no-repeat; //Image en une seule fois
    background-size: cover;
    color: white; //Le texte de la page sera blanc 
}

Block contenant toute l'entête
#head{
    border: white 4px solid;
}

Traitement du logo
img{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

/* Ajout du fond noir dans le block du logo
#logo{
    background-color: black;
}

/* Block contenant le menu
#Menu{
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
    color: black;
    text-align: center;
}*/

/*.tab{
    
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Ecriture devient blanche lorsque l'on passe dessus
.tab:hover{
    color: white;
    text-decoration: none;
}*/



/* Titre de la page*/

h1{
    color: yellow;
    font-size: Xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}

h2{
    color: white;
}

h2:hover{
    color: yellow;
}


h3{
    color: white;
}

h3:hover{
    color: yellow;
}

main a:hover{
    text-decoration: none;
}


.Affiche{
    display: block;
    min-width: 90%;
    min-height: 70%;
    max-width: 95%;
    max-height : 95%;
	height: auto;
    margin-left: auto;
    margin-right: auto;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-row-gap: 5%;
    overflow: auto;
  }
