
h2{
    color: yellow;
    font-size: Xx-large;
    font-family: 'Arial', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    text-align: center;
    width: 100%;
}


p{
    color: white;
    font-size: smaller;
    font-family: 'Arial', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    text-align: center;
    width: 100%;
}

.image{
    width: 100%;
    background-color: yellow;

}
