
main{
    color: black;
    margin: 2%;
    padding: 2%;
}

main h1{
    text-align: center;
}


.storyline{
  text-align: justify;
  font-size: 1em;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2%;
  border-radius: 15px;
}

.storyline a, .storyline a:hover, .storyline a:visited{
    text-decoration: none;
    color: black;
}

.storyline:hover{
    background-color: lightgray;
    text-decoration: none;
}

.storyline img{
    width: 100%;
    height: auto;
    margin: 2%;
}


/*.storyline a : :visited{
    text-decoration: none;
    color : black
}*/

/*aside{
    margin-top: 2%;
}*/

aside{
    text-align: center;
    margin: 5%;
    background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}


#account h1{
    color: white;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    font-size: 1.5em;
    text-decoration: none;
}

#account a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5%;
}

#account section:hover{
    text-decoration: none;
    color: black;
    background-color: lightgray;
}


#news h1{
    color: white;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    font-size: 1.5em;
    text-decoration: none;

}

#news a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5%;
}

#news section{
    padding: 2%;
    margin: 2%;
    border: white 1px solid;
    border-radius: 15px;
}

#news section:hover{
    text-decoration: none;
    background-color: lightgrey;
}

