main{
    margin : 3%;
    padding: 3%;
}


.Affiche{
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}

h1{
    color: black;
    font-size: Xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}

h2{
    color: yellow;
    font-size: Xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}

h3{
    color: white;
}

h3:hover{
    color: yellow;
    text-decoration: none;
}

main a:hover{
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-row-gap: 5%;
    overflow: auto;
  }

