main{
    margin : auto;
    margin-top: 10%;
    padding: 3%;
    width: 50%;
    height: auto;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

span{
    font-size: 1.5em;
}

p{
    font-size: 1.5em;
}

main a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 15px;
}

main a:hover{
    color: white;
    text-decoration: none;
    background-color: gray;
}